/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap'); */

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('styles/fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Light.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: normal;
  src: url('styles/fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Regular.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('styles/fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: bold;
  src: url('styles/fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Bold.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Bold.otf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Noto Serif KR', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f0;
  color: #444444;
}
